

/*  COLOR SCHEME
dark grey - #25242C
light Grey - #32313B
pink - #EC3F8C
baby blue - #39B1C6
green #1FD26A
Credit goes to http://mashastudio.net/ .. thanks .
*/







body
{
font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
margin:5% 10%;
background-color:#25242C;
}
	#Wrap
	{
	background-color:#32313B;
	
	}

	.Navbar
	{
		text-shadow:8px 8px 4px black;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		height: 30px;
		padding: 10px;
		font-size:15pt;
		text-align: center;
		background-color:#34333F;
		word-spacing:90pt;
	}
	.Navbar li
	{
	display: inline 
	}
	.Navbar:link
	{
		background-color:black;
		
		}
	.Navbar:visited
	{
		background-color:#1E1E24;

		}
	.Navbar:hover
	{
	background-color:#1E1E24;
	text-shadow:8px 8px 4px grey;

	}
	.Navbar:focus
	{
	background-color:#1E1E24;
	text-shadow:8px 8px 4px grey;

	}
	.Navbar:active
	{
		background-color:#1E1E24;
	}
	
	
	/* Links on nav bar ---V   */
	.Navbar a:link
	{
	text-decoration: none;
	color:#0099FF;
	}
	.Navbar a:visited
	{
	text-decoration: none;
	color:#1FD26A;
	}
	.Navbar a:hover
	{
	text-decoration: none;
	color:#1FD26A;
	}
	.Navbar a:focus
	{
	text-decoration: none;
	color:#39B1C6;
	}
	.Navbar a:active
	{
	text-decoration: none;
	color:#EC3F8C;
	}
	
	
	#wierdpic img
	{
		display: inline;
	}
	#wierdpic
	{
		border:15px solid #00FF40;
	}
	
	#Title
	{
		text-align:center;
		
		text-shadow:8px 8px 9px black;
		font-size:20pt;
		font-family:tahoma;
		color:red;
	}
	h2
	{
		font-size:11pt;
		font-family:tahoma;
		color :green;
		font-weight:normal;
		text-transform:uppercase;
	}
	.pink   
	{
		color:pink;
	}
	p
	{
		border:thin red solid;
		letter-spacing:0.6em;
	}
	ul
	{
		font-size:13pt;
	}
	li
	{
		padding-top:0.5em;
	}
	#mainpic
	{
		cursor:crosshair;
		border:15px double red;
		display:block;
		margin-right: auto;
		margin-left: auto;
	}
	#mainpic:link
	{
		border:15px double yellow;
	}
	#mainpic:visited
	{
		border:15px double orange;
	}
	#mainpic:hover
	{
		border:15px double purple;
	}
	#mainpic:active
	{
		border:15px dotted black;
	}

	

	.footer a:link
	{
	text-decoration: none;
	color:#1FD26A;
	}
	.footer a:visited
	{
	text-decoration: none;
	color:#1FD26A;
	}
	.footer a:hover
	{
	text-decoration: none;
	color:#39B1C6;
	}
	.footer a:focus
	{
	text-decoration: none;
	color:#39B1C6;
	}
	.footer a:active
	{
	text-decoration: none;
	color:#EC3F8C;
	}
	

	.footer
	{
		text-shadow:8px 8px 4px black;
		position: fixed; 
		bottom: 0;
		left: 0;
		right: 0;
		height: 30px;
		padding: 10px;
		font-size:15pt;
		text-align: center;
		background-color:#34333F;
	}
	.footer:link
	{
	background-color:#1E1E24;
	
	}
	.footer:visited
	{
	background-color:#1E1E24;

	}
	.footer:hover
	{
	background-color:#1E1E24;
	text-shadow:8px 8px 4px grey;

	}
	.footer:focus
	{
		background-color:#1E1E24;
		text-shadow:8px 8px 4px grey;

		}
		.footer:active
	{
		background-color:#1E1E24;
		}
	
	