

/*  COLOR SCHEME
dark grey - #25242C
light Grey - #32313B
pink - #FF8000
baby blue - #39B1C6
green #1FD26A
Credit goes to http://mashastudio.net/ .. thanks .
*/







#Main
{
font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
margin:5% 10%;
background-color:#25242C;
}
	#Wrap
	{
	background-color:#32313B;
	
	}

	
	.Navbar
	{
		text-shadow:8px 8px 4px black;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		height: 30px;
		padding: 10px;
		font-size:15pt;
		text-align: center;
		background-color:#34333F;
		word-spacing:90pt;
		border-bottom: 1pt solid white;
	}
	.Navbar li
	{
	display: inline ;
	}
	.Navbar:link
	{
		background-color:black;
		
		}
	.Navbar:visited
	{
		background-color:#1E1E24;

		}
	.Navbar:hover
	{
	background-color:#1E1E24;
	text-shadow:8px 8px 4px grey;

	}
	.Navbar:focus
	{
	background-color:#1E1E24;
	text-shadow:8px 8px 4px grey;

	}
	.Navbar:active
	{
		background-color:#1E1E24;
	}
	
	
	/* Links on nav bar ---V   */
	.Navbar a:link
	{
	text-decoration: none;
	color:#0099FF;
	}
	.Navbar a:visited
	{
	text-decoration: none;
	color:#1FD26A;
	}
	.Navbar a:hover
	{
	text-decoration: none;
	color:#39B1C6;
	}
	.Navbar a:focus
	{
	text-decoration: none;
	color:#39B1C6;
	}
	.Navbar a:active
	{
	text-decoration: none;
	color:#FF8000;
	}
	
	
	#wierdpic img
	{
		
	}
	#wierdpic
	{
		
	}
	
	#Title
	{
		text-align:center;
		text-shadow:8px 8px 9px black;
		font-size:20pt;
		font-family:tahoma;
		color:#39B1C6;
	}
	#Jayem
	{
	color: #FF8000;
	}

	ul
	{
		font-size:13pt;
	}
	li
	{
		padding-top:0.5em;
	}
	
	
	
	#mainpic
	{
		cursor:crosshair;
		border:5px solid #39B1C6;
		display:block;
		margin-right: auto;
		margin-left: auto;
	}
	#mainpic:link
	{
		border:5px solid #39B1C6;
	}
	#mainpic:visited
	{
		border:5px solid #39B1C6;
	}
	#mainpic:hover
	{
		border:5px solid #FF8000;
	}
	#mainpic:active
	{
		border:5px solid #FF8000;
	}

	

	.footer a:link
	{
	text-decoration: none;
	color:#1FD26A;
	}
	.footer a:visited
	{
	text-decoration: none;
	color:#1FD26A;
	}
	.footer a:hover
	{
	text-decoration: none;
	color:#39B1C6;
	}
	.footer a:focus
	{
	text-decoration: none;
	color:#39B1C6;
	}
	.footer a:active
	{
	text-decoration: none;
	color:#FF8000;
	}
	

	.footer
	{
		text-shadow:8px 8px 4px black;
		position: fixed; 
		bottom: 0;
		left: 0;
		right: 0;
		height: 30px;
		padding: 10px;
		font-size:15pt;
		text-align: center;
		background-color:#34333F;
		border-top: 1pt solid white;
	}
	.footer:link
	{
	background-color:#1E1E24;
	
	}
	.footer:visited
	{
	background-color:#1E1E24;

	}
	.footer:hover
	{
	background-color:#1E1E24;
	text-shadow:8px 8px 4px grey;

	}
	.footer:focus
	{
		background-color:#1E1E24;
		text-shadow:8px 8px 4px grey;

		}
	.footer:active
	{
		background-color:#1E1E24;
		}
	
	/*PROJECTS LINKS*/
	.Projects li
	{
		text-shadow:8px 8px 4px black;
		padding: 10px;
		font-size:15pt;
		text-align: center;
		background-color:#32313B;
		list-style: none;
	}
		.Projects a:link
	{
	text-decoration: none;
	color:#0099FF;
	}
	.Projects a:visited
	{
	text-decoration: none;
	color:#1FD26A;
	}
	.Projects a:hover
	{
	text-decoration: none;
	color:#39B1C6;
	}
	.Projects a:focus
	{
	text-decoration: none;
	color:#39B1C6;
	}
	.Projects a:active
	{
	
	}
#canvasContainer
{
	border:#39B1C6 8px solid;
	width:744px; 
	margin: 20px auto;
}
