/*  COLOR SCHEME
	wrap image background-image: url("../Pics/bg.png");
	dark grey - #25242C
	light Grey - #32313B
	pink - #FF8000
	baby blue - #39B1C6
	green #1FD26A
	Credit goes to http://mashastudio.net/ .. thanks .
	My git hub : https://github.com/JustinMorritt
*/






body
{
	font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
	margin:4em auto;
	background-color:#25242C;
	font-size: 100%;
}
.Wrap
{
	/*background-color:#32313B;*/
	background-image: url("../Pics/bg.png");
	border-bottom: 1.5em solid #25242C;
	border-top: 1em solid #25242C;
}


.Navbar
{
	text-shadow:8px 8px 4px black;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: .5em;
	font-size:1.5em;
	text-align: center;
	word-spacing:8em;
	/*border-bottom: 1pt solid white;*/
	z-index:9999;
	height: 1em;
	background: -webkit-linear-gradient(black , #34333F); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(black,#34333F); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(black, #34333F); /* For Firefox 3.6 to 15 */
	background: linear-gradient(black , #34333F); /* Standard syntax (must be last) */
}


.Navbar li
{
	display: inline ;
}
/* Links on nav bar ---V   */
.Navbar a:link
{
	text-decoration: none;
	color:#39B1C6;
}
.Navbar a:visited
{
	text-decoration: none;
	color:#1FD26A;
}
.Navbar a:hover
{
	text-decoration: none;
	color:#1FD26A;
	text-shadow:8px 8px 4px grey;
}
.Navbar a:focus
{
	text-decoration: none;
	color:#39B1C6;
	text-shadow:8px 8px 4px grey;
}
.Navbar a:active
{
	text-decoration: none;
	color:#FF8000;
	text-shadow:8px 8px 4px grey;
}



#Title
{
	text-align:center;
	text-shadow:8px 8px 9px black;
	font-size:5em;
	font-family:tahoma;
	color:#39B1C6;
	
}
#Jayem
{
	color: #FF8000;
}




/*SUB HEADING CONTENT*/

.pageSubIntro
{

}
.pageSubIntro h2
{
	border-bottom: 1px solid #39B1C6;
	border-top: 1px solid #39B1C6;
	font-size:1.2em;
	color:white;
	text-align:center;
	padding-top: 1em;
	padding-bottom: 1em;
	text-shadow:8px 8px 9px black;
	margin-left:auto;
	margin-right:auto;
	width:80%;
}
.pageSubIntro h3
{
	font-size:1.2em;
	color:white;
	text-align:center;
	padding: 2em;
	text-shadow:8px 8px 9px black;
	margin-left:auto;
	margin-right:auto;
	width:60%;
}
.dividerBar
{
	border-bottom: 1px solid #39B1C6;
	text-align:center;
	padding: 1em;
	margin-left:auto;
	margin-right:auto;
	width:70%;
}


#mainpic
{
	cursor:crosshair;
	border:.5em solid #39B1C6;
	display:block;
	margin-right: auto;
	margin-left: auto;
}
#mainpic:link
{
	border:5px solid #39B1C6;
}
#mainpic:visited
{
	border:5px solid #39B1C6;
}
#mainpic:hover
{
	border:5px solid #FF8000;
}
#mainpic:active
{
	border:5px solid #FF8000;
}

/*FOOTER STUFF*/
.footer
{
	text-shadow:8px 8px 4px black;
	position: fixed; 
	bottom: 0;
	left: 0;
	right: 0;
	padding: .5em;
	font-size:1.5em;
	text-align: center;
	
	/*border-top: 1pt solid white;*/
	height: 1em;
    background: -webkit-linear-gradient(#34333F , black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#34333F,black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#34333F, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#34333F , black); /* Standard syntax (must be last) */
}
.footer a:link
{
	text-decoration: none;
	color:#39B1C6;
}
.footer a:visited
{
	text-decoration: none;
	color:#1FD26A;
}
.footer a:hover
{
	text-decoration: none;
	color:#1FD26A;
	text-shadow:8px 8px 4px grey;
}
.footer a:focus
{
	text-decoration: none;
	color:#39B1C6;
	text-shadow:8px 8px 4px grey;
}
.footer a:active
{
	text-decoration: none;
	color:#FF8000;
	text-shadow:8px 8px 4px grey;
}



/*PROJECTS LINKS*/
.Projects li
{
	text-shadow:8px 8px 4px black;
	padding: 1em;
	font-size:1.2em;
	text-align: center;
	list-style: none;
}
.Projects a:link
{
	text-decoration: none;
	color:#39B1C6;
}
.Projects a:visited
{
	text-decoration: none;
	color:#1FD26A;
}
.Projects a:hover
{
	text-decoration: none;
	color:#1FD26A;
}
.Projects a:focus
{
	text-decoration: none;
	color:#39B1C6;
}
.Projects a:active
{
    color:#FF8000
}


#canvasContainer
{
	border:#39B1C6 8px solid;
	width:744px; 
	margin: 20px auto;
}

/*INFORMATION CIRCLES*/
.InfoColumns
{
	width:100%;
	margin-left:auto;
	margin-right:auto;
}
.InfoColumns h3
{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	text-shadow:8px 8px 9px black;
	text-align:center;
	font-size:1.3em;
	color:white;
}
.CenterWrapper
{
	width:46.8em;
	margin:auto;
}

.infoCircle 
{
	background: #25242C;
	display:block;
	padding:1em;
	float:left;
	width: 10em;
    height: 10em;
    border-radius: 10em;
	text-shadow:8px 8px 9px black;
	text-align:center;
	font-size:1.3em;
	color:white;
	line-height:1.1em;
}
.infoCircle h1
{
	margin-top:1em;
}
.clear 
{ 
	clear: both;
}

.Circle1, h1, p
{
	background: #25242C;
}
.Circle1 p
{
	text-shadow: none;
	color: rgba(0, 0, 0, 0)
}

.Circle1 :hover
{  
	-webkit-transition: background-color 2s ease-out;
	-moz-transition: background-color 2s ease-out;
	-o-transition: background-color 2s ease-out;
	transition: background-color 2s ease-out;
	background-color: #39B1C6;
	cursor: pointer;
}
.Circle1 :hover  h1
{  
	-webkit-transition: background-color 2s ease-out;
	-moz-transition: background-color 2s ease-out;
	-o-transition: background-color 2s ease-out;
	transition: background-color 2s ease-out;
	background-color: #39B1C6;
	cursor: pointer;
}
.Circle1 :hover p
{
	-webkit-transition: background-color 2s ease-out;
	-moz-transition: background-color 2s ease-out;
	-o-transition: background-color 2s ease-out;
	transition: background-color 2s ease-out;
	cursor: pointer;
	color: white;
	text-shadow:8px 8px 9px black;
	background-color: #39B1C6;
}



/*CIRCLE 2*/
.Circle2, h1, p
{
	background: #25242C;
}
.Circle2 p
{
	text-shadow: none;
	color: rgba(0, 0, 0, 0)
}
.Circle2 :hover
{  
	-webkit-transition: background-color 2s ease-out;
	-moz-transition: background-color 2s ease-out;
	-o-transition: background-color 2s ease-out;
	transition: background-color 2s ease-out;
	background-color: #FF8000;
	cursor: pointer;
}
.Circle2 :hover h1
{  
	-webkit-transition: background-color 2s ease-out;
	-moz-transition: background-color 2s ease-out;
	-o-transition: background-color 2s ease-out;
	transition: background-color 2s ease-out;
	background-color: #FF8000;
	cursor: pointer;
}
.Circle2 :hover p
{
	-webkit-transition: background-color 2s ease-out;
	-moz-transition: background-color 2s ease-out;
	-o-transition: background-color 2s ease-out;
	transition: background-color 2s ease-out;
	cursor: pointer;
	color: white;
	text-shadow:8px 8px 9px black;
	background-color: #FF8000;
}

/*CIRCLE 3*/
.Circle3, h1, p
{
	background: #25242C;
}
.Circle3 p
{
	text-shadow: none;
	color: rgba(0, 0, 0, 0)
}
.Circle3 :hover
{  
	-webkit-transition: background-color 2s ease-out;
	-moz-transition: background-color 2s ease-out;
	-o-transition: background-color 2s ease-out;
	transition: background-color 2s ease-out;
	background-color: #1FD26A;
	cursor: pointer;
}
.Circle3 :hover h1
{  
	-webkit-transition: background-color 2s ease-out;
	-moz-transition: background-color 2s ease-out;
	-o-transition: background-color 2s ease-out;
	transition: background-color 2s ease-out;
	background-color: #1FD26A;
	cursor: pointer;
}
.Circle3 :hover p
{
	-webkit-transition: background-color 2s ease-out;
	-moz-transition: background-color 2s ease-out;
	-o-transition: background-color 2s ease-out;
	transition: background-color 2s ease-out;
	cursor: pointer;
	color: white;
	text-shadow:8px 8px 9px black;
	background-color: #1FD26A;
}

/* Picture Gallery Column*/
.c
{
	float:left;
	width: 100%;
}
.Gallery
{
	float: left;
	width:100%;
	margin-left:auto;
	margin-right:auto;
}

.PicBox
{
	float:left;
	border: 1em solid #39B1C6;
	width: 10em;
	height:10em;
	margin-bottom:2%;
	margin-left:2%;
	margin-right:2%;
	border-radius: 3em;
	box-shadow: 14px 14px 7px black;
}
.PicBox:hover
{
	border: 1em solid #1FD26A;
	border-radius: 3em;
}
.PicBox a img
{
	width: 100%;
	height: 100%;
}



/*To Top Button*/
.back-to-top {
    position: fixed;
    bottom: 4em;
    right: 1em;
    text-decoration: none;
	text-shadow:4px 4px 3px black;
    color: #39B1C6;
    background-color: rgba(37, 36, 44, 0.50);
    font-size: 12px;
    padding: 1em;
    display: none;
	 border-radius: 1em;
}

.back-to-top:hover { 
	color: #1FD26A;   
    background-color: rgba(37, 36, 44, 0.90);
}



/*SMART PHONES*/
@media only screen and (max-width: 480px) 
{
	body 
	{ 
		width: 95%;
		margin-top:0;
		padding:0em;
	}
	.main
	 {
		width: auto; 
		float: none; 
	}
	h1 
	{
		position: initial;
		font-size: 2em; 
	}
	.footer
	{
		font-size: 1em;
	}
	#Main
	{
		margin:0em auto;
	}
	.Navbar 
	{
		word-spacing:1em;
		position: relative;
		height: 5em;
	}
	.Navbar li
	{
		display: block;
	}
	#Title
	{
		font-size:3em;
	}
	.Wrap
	{
		border-bottom: .1em solid #25242C;
	}
	.infoCircle 
	{
		float:left;
	}
	.CenterWrapper
	{
		width:15.8em;	
	}
	div .picOfMe
	{
		width: 20em;
		height:28em;
	}
	#picOfComp
	{
		width: 10em;
		height:10em;
	}
	.pageSubIntro h2
	{
		width: 90%;
	}
	.projectColumns
	{
		width:100%;
		height:100%;
		margin: auto;
	}
	.a
	{
		float:none;
		position: a;
		width: 100%;
	}
	.b
	{
		float:none;
		position: b;
		width: 100%;
	}
	.PicBox
	{
	float:none;
	border: 1em solid #39B1C6;
	width: 10em;
	height:10em;
	margin-bottom:2%;
	margin-left:auto;
	margin-right:auto;
	}
	.c
	{
		float:none;
		width: 100%;
	}
}

/*IPAD SIZES/TABLETS*/
@media only screen and (min-width: 481px) and (max-width: 979px)
{
	body 
	{ 
		padding: 1em 4%; 
	}
	.Navbar 
	{
		word-spacing:1em;
	}
	.footer
	{
		font-size: .9em;
	}
	.infoCircle 
	{
		float:left;
	}
	.CenterWrapper
	{
		width:15.8em;	
	}
	#picOfComp
	{
	width: 15em;
	height:15em;
	}
	.pageSubIntro h2
	{
	width: 90%;
	}
	.projectColumns
	{
		width:100%;
		height:100%;
		margin: auto;
	}
	.a
	{
		float:none;
		position: a;
		width: 100%;
	}
	.b
	{
		float:none;
		position: b;
		width: 100%;
	}
}
 

@media only screen and (device-width: 768px) 
{

}





.sfTable {
display : table;
border-collapse: collapse;
width : 207px;
height : 57px;
}
.sfTwitter {
background : url(../Pics/twitter-watermark.png) no-repeat right bottom;
border : 1px solid #CCCCCC;
background-color : #F9F9F9;
}
.sfFacebook {
background : url(../Pics/facebook-watermark.gif) no-repeat right bottom;
border : 1px solid #C4CDE0;
background-color : #EDEFF4;
}
.sfGithub {
background : url(../Pics/github-watermark.gif) no-repeat right bottom;
border : 1px solid #D4D4D4;
background-color: #ececec;
}
.sfBitbucket {
background : url(../Pics/bitbucket-watermark.png) no-repeat right bottom;
border : 1px solid #D4D4D4;
background-color: #ececec;
}
.sfRow {
display : table-row;
width : 100%;
}
.sfCell1 {
display : table-cell;
width : 48px;
padding : 4px 0px 0px 5px;
}
.sfCell2 {
display : table-cell;
vertical-align : top;
text-align : left;
padding-left : 10px;
padding-top : 3px;
width : 146px;
}
.sfCell2 div.sfHandle {
font : 13px "Tahoma",Helvetica,Arial,sans-serif;
font-weight : bold;
margin-right : 5px;
width : 140px;
word-wrap: break-word;
}
.sfTwitter div.sfHandle {
color : #0084B4;
}
.sfFacebook div.sfHandle {
color : #627AAD;
}
.sfGithub div.sfHandle {
color : #333;
}
.sfCell2 div.sfFans {
font : 11px "Tahoma",Helvetica,Arial,sans-serif;
color : #999;
font-weight : bold;
padding-top : 5px;
}
.sfCell2 div.sfFans span { padding-right : 10px; }
.sfCell2 div.sfFans span.hireable { color : #A229A9; }
.sfTwitter .sfCell2 div.sfFans span.following {
background : url(../Pics/twitter.ico) no-repeat left center;
padding-left : 20px;
}
.sfTwitter .sfCell2 div.sfFans span.followers {
background : url(../Pics/twitterr.ico) no-repeat left center;
padding-left : 20px;
}
.sfGithub .sfCell2 div.sfFans span.public_repos {
background : url(../Pics/repos.gif) no-repeat left center;
padding-left : 20px;
}
.sfGithub .sfCell2 div.sfFans span.followers {
background : url(../Pics/githubr.ico) no-repeat left center;
padding-left : 20px;
}
.sfBitbucket .sfCell2 div.sfFans span.public_repos {
background : url(../Pics/repos.gif) no-repeat left center;
padding-left : 20px;
}
.sfBitbucket .sfCell2 div.sfFans span.followers {
background : url(../Pics/bitbucket.ico) no-repeat left center;
padding-left : 20px;
}
.sfFacebook .sfCell2 div.sfFans span.following {
background : url(../Pics/friends.gif) no-repeat left center;
padding-left : 20px;
}
.sfFacebook .sfCell2 div.sfFans span.following {
background : url(../Pics/friends.gif) no-repeat left center;
padding-left : 20px;
}
img.ico {
vertical-align : middle;
margin-right : 5px;
}
img.sfProfilePic {
-webkit-border-radius: 4px; /* Saf3-4, iOS 1-3.2, Android ≤1.6 */
border-radius: 4px; /* Opera 10.5, IE9, Saf5, Chrome, FF4+, iOS 4, Android 2.1+ */
/* useful if you don't want a bg color from leaking outside the border: */
-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}
a.sfLink {
text-decoration: none;
}

