.projectColumns
{
	width:100%;
	height:100%;
	margin: auto;
}
.a
{
	float:left;
	width: 50%;
}
.b
{
	float:right;
	width: 50%;
}





.git
{
	border: 1px #39B1C6 solid;
	border-radius: 2em;
	box-shadow: 14px 14px 7px black;
	background: url(../Pics/Git-Logo-White.png);
	background-size: 100% 100%;
	width: 9em;
	height:4em;
	background-repeat: no-repeat;
	display: block;
	margin-left:auto;
	margin-right:auto;
}

.youtube
{
	border: 1px #39B1C6 solid;
	border-radius: 2em;
	box-shadow: 14px 14px 7px black;
	display: block;
	background: url(../Pics/YouTube-Transparent-Logo.png);
	background-size: 100% 100%;
	width: 9em;
	height:4em;
	background-repeat: no-repeat;
	margin-left:auto;
	margin-right:auto;
}

.mario
{
	border: 1px #39B1C6 solid;
	border-radius: 2em;
	box-shadow: 14px 14px 7px black;
	display: block;
	background: url(../Pics/Mario.png);
	background-size: 100% 100%;
	width: 9em;
	height:9em;
	background-repeat: no-repeat;
	margin-left:auto;
	margin-right:auto;
}

.MAYA
{
	border: 1px #39B1C6 solid;
	border-radius: 2em;
	box-shadow: 14px 14px 7px black;
	display: block;
	background: url(../Pics/Scorpion.jpg);
	background-size: 100% 100%;
	width: 9em;
	height:9em;
	background-repeat: no-repeat;
	margin-left:auto;
	margin-right:auto;
}

.CSGO
{
	border: 1px #39B1C6 solid;
	border-radius: 2em;
	box-shadow: 14px 14px 7px black;
	display: block;
	background: url(../Pics/CSGOicon.png);
	background-size: 100% 100%;
	width: 9em;
	height:7em;
	background-repeat: no-repeat;
	margin-left:auto;
	margin-right:auto;
}


.indie
{
	border: 1px #39B1C6 solid;
	border-radius: 2em;
	box-shadow: 14px 14px 7px black;
	display: block;
	background: url(../Pics/Indie.png);
	background-size: 100% 100%;
	width: 9em;
	height:9em;
	background-repeat: no-repeat;
	margin-left:auto;
	margin-right:auto;
}

.UNITY
{
	border: 1px #39B1C6 solid;
	border-radius: 2em;
	box-shadow: 14px 14px 7px black;
	display: block;
	background: url(../Pics/unity-icon-big.jpg);
	background-size: 100% 100%;
	width: 10em;
	height:7em;
	background-repeat: no-repeat;
	margin-left:auto;
	margin-right:auto;
}

.FamJ
{
	border: 1px #39B1C6 solid;
	border-radius: 2em;
	box-shadow: 14px 14px 7px black;
	display: block;
	background: url(../Pics/FJ.png);
	background-size: 100% 100%;
	width: 10em;
	height:5em;
	background-repeat: no-repeat;
	margin-left:auto;
	margin-right:auto;
}

.PrisE
{
	border: 1px #39B1C6 solid;
	border-radius: 2em;
	box-shadow: 14px 14px 7px black;
	display: block;
	background: url(../Pics/PrisonE.png);
	background-size: 100% 100%;
	width: 10em;
	height:10em;
	background-repeat: no-repeat;
	margin-left:auto;
	margin-right:auto;
}
.BvZ
{
	border: 1px #39B1C6 solid;
	border-radius: 2em;
	box-shadow: 14px 14px 7px black;
	display: block;
	background: url(../Pics/BVZLogo.png);
	background-size: 100% 100%;
	width: 10em;
	height:5em;
	background-repeat: no-repeat;
	margin-left:auto;
	margin-right:auto;
}

.wakaTime
{
	border: 1px #39B1C6 solid;
	border-radius: 2em;
	box-shadow: 14px 14px 7px black;
	display: block;
	background: url(../Pics/wakaTime.png);
	background-size: 100% 100%;
	width: 10em;
	height:10em;
	background-repeat: no-repeat;
	margin-left:auto;
	margin-right:auto;
}

.trafficCop
{
	border: 1px #39B1C6 solid;
	border-radius: 2em;
	box-shadow: 14px 14px 7px black;
	display: block;
	background: url(../Pics/trafficCop.png);
	background-size: 100% 100%;
	width: 6em;
	height:10em;
	background-repeat: no-repeat;
	margin-left:auto;
	margin-right:auto;
}