.projectColumns
{
	width:100%;
	height:100%;
	margin: auto;
}
#a
{
	float:left;
	width: 50%;
}
#b
{
	float:right;
	width: 50%;
}

/* Picture Gallery Column*/
#c
{
	float:left;
	width: 100%;
}
.Gallery
{
float: none;
	width:72.5%;
	margin-left:auto;
	margin-right:auto;
}
.PicBox
{
	float:left;
	border: 1em solid #39B1C6;
	width: 10em;
	height:10em;
	margin-bottom:2%;
	margin-left:2%;
	margin-right:2%;
}
.PicBox a img
{
	width: 100%;
	height: 100%;
	
	 -webkit-transition-property: width, height; /* we specify, what properties we need to change*/
    -webkit-transition-duration: 300ms; /* we specify, with what speed it is necessary to return an image in its initial look*/
    -moz-transition-property: width, height;
    -moz-transition-duration: 300ms;
    -o-transition-property: width, height;
    -o-transition-duration: 300ms;
}

.PicBox a:after {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    content: "Jayem Entertainment";
    color: #eaeaea;
    font-family: "Trebuchet MS";
    font-size: 16px;
    opacity: 0.5;
}

.PicBox a:focus img{
    width: 250%; /* we increased an image to this size */
    height: 250%;
    position: absolute;
    opacity: 1; /* transparency is not needed */
    z-index: 1; /* for a photo to enlarge over all images */
    -moz-box-shadow: 0 0 15px 2px #000;
    -webkit-box-shadow: 0 0 15px 2px #000;
    box-shadow: 0 0 15px 2px #000; /* we add some beauty */
    -webkit-transition-property: width, height; /* we decrease the image */
    -webkit-transition-duration: 2s; /* we specify, with what speed it is necessary to increase an image */
    -webkit-transition-delay: 0.3s; /* as a browser will process it, before enlarging a photo */
    -moz-transition-property: width, height;
    -moz-transition-duration: 2s;
    -moz-transition-delay: 0.3s;
    -o-transition-property:width, height;
    -o-transition-duration: 2s;
    -o-transition-delay: 0.3s;
    cursor: default;
}




.git
{
	display: block;
	background: url(../Pics/Git-Logo-White.png);
	background-size: 100% 100%;
	width: 9em;
	height:4em;
	background-repeat: no-repeat;
	margin-left:auto;
	margin-right:auto;
}

.youtube
{
	display: block;
	background: url(../Pics/YouTube-Transparent-Logo.png);
	background-size: 100% 100%;
	width: 9em;
	height:4em;
	background-repeat: no-repeat;
	margin-left:auto;
	margin-right:auto;
}

.mario
{
	display: block;
	background: url(../Pics/Mario.png);
	background-size: 100% 100%;
	width: 9em;
	height:9em;
	background-repeat: no-repeat;
	margin-left:auto;
	margin-right:auto;
}

.indie
{
	display: block;
	background: url(../Pics/Indie.png);
	background-size: 100% 100%;
	width: 9em;
	height:9em;
	background-repeat: no-repeat;
	margin-left:auto;
	margin-right:auto;
}
