/* Dark Blue : #000033  */
/* Lighter Blue : #33335C  */
/* Light Green BackGround : #66FF66  */

body
{
	margin:0;
	overflow: hidden;
    background-color: silver;
    background-image: linear-gradient(335deg, #b00 23px, transparent 23px),
    linear-gradient(155deg, #d00 23px, transparent 23px),
    linear-gradient(335deg, #b00 23px, transparent 23px),
    linear-gradient(155deg, #d00 23px, transparent 23px);
    background-size: 58px 58px;	
    background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
}

#gameWrap
{
    margin-left: auto;
    margin-right: auto;
	margin-top:1em;
    width: 68%;
}

#game
{
	font-family:bearpawregular;
	color:#000033;
	position: absolute;
	width: 68%;
	height: 85%;
	
    background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
	
	border: 1em solid black;
	border-radius: 3em;
	box-shadow:		4px 4px 6px white,
					-4px -4px 6px white,
					0px 0px 0px black;
}

#game .screen
{
	position: absolute;
	width:100%;
	height:100%;
	display: none;
	z-index:10;
}

#game .screen.active
{
	display:block;
}

#splash-screen
{
	font-family:bearpawregular;
	color:#000033;
	text-align: center;
	padding-top:1em;
}

#splash-screen .continue
{
	cursor: pointer;
	padding-top:1em;
	color:red;
	font-size:5em;
	text-shadow: 	2px 2px 3px black,
					-2px -2px 3px black,
					0px 0px 0px black;
}

#splash-screen .logo
{
	font-family:capture_itregular;
	color:#000033;
	font-size:6em;
	margin:0;
	text-align: center;
	text-shadow: 	2px 2px 3px rgb(255,255,0),
					-2px -2px 3px rgb(255,255,0),
					6px 10px 10px black;
    /*====NO SELECT============*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*====NO SELECT============*/
}



/*MAIN MENU STYLES*/
#main-menu
{
	padding-top:2em;
}

#main-menu .logo
{
	font-family:capture_itregular;
	color:#000033;
	font-size:6em;
	margin:0;
	text-align: center;
	text-shadow: 	2px 2px 3px rgb(255,255,0),
					-2px -2px 3px rgb(255,255,0),
					6px 10px 10px black;
       /*====NO SELECT============*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*====NO SELECT============*/
}



ul.menu li
{
	
	text-align:center;
	padding:0;
	margin-top:1em;
	margin-right:2em;
	list-style:none;
}
ul.menu li button
{

	font-family:bearpawregular;
	font-size:4em;
	color: red;
	width:6em;
	height:1.5em;
	background:black;
	border: 0.05em solid rgb(255,255,0);
	border-radius: 0.5em;
	-webkit-box-shadow : 0.2em 0.2em 0.3em black;
	-moz-box-shadow:  0.2em 0.2em 0.3em black;
	box-shadow:  0.2em 0.2em 0.3em black;
       /*====NO SELECT============*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*====NO SELECT============*/
	
}

ul.menu li button:hover
{
	background: #565642;
	
}

ul.menu li button:active
{
	color:rgb(255,255,0);
	background: rgb(30,40,0)
}


/*---------------LOADING BAR------------------*/
.progress 
{
    margin:0 auto;
    margin-bottom:1em;
    width: 20em;
    height:2em;
    border-radius:1em;
    overflow : hidden;
    border : 1px solid black;
    -webkit-box-shadow : 0.2em 0.2em 0.3em black;
	-moz-box-shadow:  0.2em 0.2em 0.3em black;
	box-shadow:  0.2em 0.2em 0.3em black;
}

    .progress .indicator 
    {
        background-color: #1aff00;
        height:100%;
        width:0%;
    }
/*---------------------------------------------*/
.screen .game-info .time
{
    text-align:center;
    margin-left: 88%;
    display: block;
    position: absolute;
    height: 1.5em;
    width: 6em;
    z-index: 100;
	font-family:capture_itregular;
	font-size:1.5em;
	color: red;
	background:black;
	border: 0.05em solid rgb(255,255,0);
	border-radius: 0.5em;
	-webkit-box-shadow : 0.2em 0.2em 0.3em black;
	-moz-box-shadow:  0.2em 0.2em 0.3em black;
	box-shadow:  0.2em 0.2em 0.3em black;

       /*====NO SELECT============*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*====NO SELECT============*/
}
.health
{
    text-align:center;
    margin-left: 1%;
    margin-top: 4em;
    display: block;
    position: absolute;
    height: 1.5em;
    width: 20em;
    z-index: 100;
	font-family:capture_itregular;
	font-size:1.5em;
	color: black;
	background:none;
	border: 0.05em solid rgb(255,255,0);
	border-radius: 0.5em;
	-webkit-box-shadow : 0.2em 0.2em 0.3em black;
	-moz-box-shadow:  0.2em 0.2em 0.3em black;
	box-shadow:  0.2em 0.2em 0.3em black;

       /*====NO SELECT============*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*====NO SELECT============*/
}

.health .healthbar
{
    display: block;
    height: 100%;
    width: 0%;
    z-index: 100;
	background:red;
	border-radius: 0.5em;
}



.screen .game-info .name
{
    text-align:left;
    margin-left: 1%;
    display: block;
    position: absolute;
    height: 1.5em;
    width:20em;
    z-index: 100;
	font-family:bearpawregular;
	font-size:8em;
	color: black;
     text-shadow: 3px 3px 3px white;

       /*====NO SELECT============*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*====NO SELECT============*/
}

.screen footer
{
    display: block;
    position : absolute;
    bottom : 2em; 
    height : 1em;
    width:100%;
     z-index: 100;
}

.screen footer button
{
    cursor:pointer;
    margin-left: 0.25em;
    margin-right:0.25em;
	font-family:capture_itregular;
	font-size:1.5em;
	color: red;
	width:6em;
	height:1.5em;
	background:black;
	border: 0.05em solid rgb(255,255,0);
	border-radius: 0.5em;
	-webkit-box-shadow : 0.2em 0.2em 0.3em black;
	-moz-box-shadow:  0.2em 0.2em 0.3em black;
	box-shadow:  0.2em 0.2em 0.3em black;
       /*====NO SELECT============*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*====NO SELECT============*/
}
.screen footer button:hover
{
    border: 0.12em solid rgb(255,255,0);
    background:rgba(0,0,0,0);
}

/*============================GAME OVERLAYS============================*/
#game-screen .pause-overlay,.inventory-overlay,.crafting-overlay,.lose-overlay,.win-overlay
{
    font-size:2em;
    display:none;
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:99;
    background: rgba(20,20,20,0.8);
       /*====NO SELECT============*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*====NO SELECT============*/
}

#game-screen .pause-overlay .pause-text,.inventory-text,.crafting-text,lose-text
{
    width:100%;
    text-align:center;
    font-size:5em;
    text-shadow:1px 1px 2px rgb(255,255,0),
				-1px -1px 2px rgb(255,255,0),
				0px 0px 0px black;
    color:red;

    /*====NO SELECT============*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*====NO SELECT============*/
}

#game-screen .pause-overlay .pause-crime
{
        width:100%;
    text-align:center;
    font-size:1.8em;
    text-shadow:1px 1px 2px rgb(255,255,0),
				-1px -1px 2px rgb(255,255,0),
				0px 0px 0px black;
    color:red;

    /*====NO SELECT============*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*====NO SELECT============*/
}

#game-screen .lose-overlay .losecondition, .win-text
{
    width:100%;
    text-align:center;
    font-size:2.8em;
    text-shadow:1px 1px 2px rgb(255,255,0),
				-1px -1px 2px rgb(255,255,0),
				0px 0px 0px black;
    color:red;

    /*====NO SELECT============*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*====NO SELECT============*/
}

#game-screen .back
{
    display:none;
    cursor:pointer;
    margin-left: 0.25em;
    margin-right:0.25em;
    bottom:2em;
    position:absolute;
    text-align:center;
	font-family:capture_itregular;
	font-size:2em;
	color: red;
	width:15em;
	height:1.5em;
	background:black;
	border: 0.05em solid rgb(255,255,0);
	border-radius: 0.5em;
	-webkit-box-shadow : 0.2em 0.2em 0.3em black;
	-moz-box-shadow:  0.2em 0.2em 0.3em black;
	box-shadow:  0.2em 0.2em 0.3em black;
    z-index:100;
       /*====NO SELECT============*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*====NO SELECT============*/
}
#game-screen .back:hover 
{
    border: 0.12em solid rgb(255,255,0);
    background:rgba(0,0,0,0);
}

#game-screen .invent1, .invent2, .invent3, .invent4, .invent5, .invent6,
.invent7,.invent8,.invent9,.invent10,.invent11,.invent12,.invent13,
.invent14,.invent15,.gear1,.gear2,.gear3
{
    position:absolute;
    background: black;
	width:5em;
	height:5em;
    display: none;
    z-index:100;
     /*====NO SELECT============*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*====NO SELECT============*/
}
#game-screen .invent1
{
    margin-left: 20em;
    margin-top: 7.0em;
}
#game-screen .invent2
{
    margin-left: 25em;
    margin-top: 7.0em;
}
#game-screen .invent3
{
    margin-left: 30em;
    margin-top: 7.0em;
}
#game-screen .invent4
{
    margin-left: 35em;
    margin-top: 7.0em;
}
#game-screen .invent5
{
    margin-left: 40em;
    margin-top: 7.0em;
}
#game-screen .invent6
{
    margin-left: 20em;
    margin-top: 12em;
}
#game-screen .invent7
{
    margin-left: 25em;
    margin-top: 12em;
}
#game-screen .invent8
{
    margin-left: 30em;
    margin-top: 12em;
}
#game-screen .invent9
{
    margin-left: 35em;
    margin-top: 12em;
}
#game-screen .invent10
{
    margin-left: 40em;
    margin-top: 12em;
}

#game-screen .invent11
{
    margin-left: 20em;
    margin-top: 17em;
}
#game-screen .invent12
{
    margin-left: 25em;
    margin-top: 17em;
}
#game-screen .invent13
{
    margin-left: 30em;
    margin-top: 17em;
}
#game-screen .invent14
{
    margin-left: 35em;
    margin-top: 17em;
}
#game-screen .invent15
{
    margin-left: 40em;
    margin-top: 17em;
}

#game-screen .gear1
{
    background: red;
    margin-left: 2em;
    margin-top: 7em;
}
#game-screen .gear2
{
    background: red;
    margin-left: 2em;
    margin-top: 12em;
}
#game-screen .gear3
{
    background: red;
    margin-left: 2em;
    margin-top: 17em;
}
/*==================================================================*/



/*============================MAP CANVAS============================*/
#game-screen .game-map {

    position : absolute;
    width : 100%; /* 1.5 times the height (20x30 tiles)*/
    height : 100%;
    
}

#game-screen .game-map .background,
#game-screen .game-map .map {
    position : absolute;
    left: 0;
    top: 0;
    width :  100%;
    height : 100%;
}



#game-screen .game-map .map
{
    z-index: 50;
}

#game-screen .game-map .background
{

    width  : 100%;
    height : 100%;
    z-index: 50;
}

/*==================================================================*/



/*SMART PHONES*/
@media only screen and (max-width: 480px) 
{
	#main-menu .logo
	{
		font-size:5em;
	}
	#gameWrap
	{
		margin:.5em;
		width: 100%;
	}
	#game
	{
		width: 89%;
		height: 93%;
	}
		ul.menu li button
	{
		font-size:3em;
		width:4em;
		height:1.5em;
	}
}

/*IPAD SIZES/TABLETS*/
@media only screen and (min-width: 481px) and (max-width: 979px)
{
    .screen .game-info .time {
        margin-right:70%;
    }
    #splash-screen .logo
    {
        font-size:5em;
    }
	#main-menu .logo
	{
		font-size:5em;
	}
	#gameWrap
	{
		margin:1em;
		width: 100%;
	}
	#game
	{
		width: 90%;
		height: 90%;
	}
	ul.menu li button
	{
		width:5em;
		height:1.5em;
	}
}